<!-- the actual blog post: title/author/date/content -->
<h1><%=node.title%></h1>
<p class="lead">by <a href="#">Admin</a></p>
<hr>
<p>Posted on August 24, 2013 at 9:00 PM</p>
<hr>
<img src="http://placehold.it/900x300" class="img-responsive">
<hr>
<p class="lead">
    <%-node.body%>
</p>